.Nav {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Nav a {
    display: flex;
    width: 3em;
    height: 3em;

    align-items: center;
    justify-content: center;

    text-transform: uppercase;
    text-decoration: none;
    background-color: rgba(150, 150, 150, 0.5);
    color: #424C8D;

    opacity: 0.75;
    border: none;
    outline: none;
    cursor: pointer;
}

.Nav a:first-child {
    border-bottom-right-radius: 10px;
}

.Nav a:last-child {
    border-bottom-left-radius: 10px;
}
