.Description {
    margin: 0.5em;
    padding: 0.5em;
    background-color: #CFD8DE;

    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.Sidebar {
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    margin-right: 0.5em;
    padding-right: 0.5em;
    border-right: 1px solid black;
}

.Sidebar nav > a {
    display: block;
    margin-top: 0.5em;
}

.Sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Figure {
    margin: 0;
    text-align: center;
}

.fitHeight {
    height: 100vh;
}

.fitHeight img {
    border-radius: 10px;
}

@media (pointer:none), (pointer:coarse) {
    .fitHeight {
        height: auto;
    }
}
